OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
USE_QDRANT=true
QDRANT_URL=http://localhost:6333
USE_FAISS=false
USE_RERANK=false
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=your-20b-quant
ALPHA_BM25=0.6
BETA_VECTOR=0.4
TOPN=20
TOPK=5
